* {
    margin: 0;
    font-family: Monsterrat;
}
@font-face {
    font-family: Monsterrat;
    src: url(./Montserrat-Regular.ttf);
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.556), rgba(0, 0, 0, 0.556)), url(./forimg/hero-cover.5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 827px;

    nav {
        display: flex;
        color: white;
        max-width: 1400px;
        background-color: rgba(0, 255, 255, 0);
        place-self: start center;
        padding: 20px;
        justify-content: space-evenly;
        gap: 280px;
        align-items: center;

        h1 {
            font-size: 24px;
            font-weight: 700;
        }

        li {
            font-size: 14px;
            font-weight: 600;
        }

        ul {
            display: flex;
            list-style: none;
            gap: 40px;
        }

        button {
            padding: 15px 25px;
            background-color: rgba(35, 166, 240, 1);
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 15px;

            &:hover {
                background-color: white;
                color: rgba(35, 166, 240, 1);
            }
        }
    }

    .left {
        width: 30%;
        height: 342px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h1 {
            color: white;
            font-size: 50px;
            font-weight: 800;
        }

        p {
            font-size: 20px;
            font-weight: 200;
            color: white;
        }

        button {
            padding: 15px 36px;
            border-radius: 37px;
            background-color: rgba(35, 166, 240, 1);
            color: white;
            border: none;
        }

        .bt2 {
            background-color: rgba(0, 255, 255, 0);
            border: 1px solid rgba(255, 255, 255, 1);
        }
    }

    .maindiv {
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
        align-items: center;
    }

    .right {
        background-color: rgb(255, 255, 255);
        width: 228px;
        height: 410px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        row-gap: 40px;
        justify-content: space-evenly;
        align-items: center;

        h1 {
            font-size: 24px;
            color: rgba(37, 43, 66, 1);
        }

        form {
            width: 120%;
            
            button {
                width: 90%;
                height: 30px;
                margin-left: 10px;
                margin-top: 10px;
                background-color: rgba(35, 166, 240, 1);
                color: white;
                border-radius: 5px;
                border: none;
            }

        }

        label {
            font-size: 14px;
            font-weight: 600;
            color: rgba(37, 43, 66, 1);
            margin-bottom: 15px;
        }

        input {
            border-radius: 5px;
            border: 1px solid rgba(230, 230, 230, 1);
            padding: 10px 20px;
            width: 84%;
            margin-top: 15px;


        }
        select {
            border-radius: 5px;
            border: 1px solid rgba(230, 230, 230, 1);
            padding: 10px 20px;
            width: 100%;
            margin-top: 15px;

        }
    }
}

.zag {
    text-align: center;
    margin-top: 90px;

    h1 {
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;

    }

    p {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.2px;
        line-height: 20px;
        color: rgba(115, 115, 115, 1);
    }
}

.sect1 {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 180px;

    .card {
        width: 300px;
        height: 385px;
        border-radius: 15px;

        .top {
            width: 280px;
            padding: 20px;
            height: 90px;
            background-color: rgba(142, 194, 242, 1);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: white;
            border-radius: 3px;

            img {
                width: 60px;
                height: 60px;
            }

            .h3 {
                font-size: 70px;
                font-weight: 700;
            }
        }

        .bottom {
            width: 290px;
            padding: 20px;
            height: 295px;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            border-radius: 11px;
            border: 1px solid rgba(169, 214, 255, 1);


            h3 {
                font-size: 17px;
                color: rgba(35, 166, 240, 1);
                line-height: 24px;
            }

            p {
                color: rgba(115, 115, 115, 1);
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0.2px;
            }
        }
    }
}

.sect2 {
    padding: 10px 0px;
    background-color: rgba(250, 250, 250, 1);
    padding-bottom: 120px;
    margin-bottom: 0px;

    .maindiv2 {
        max-width: 1240px;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        margin-top: 60px;
        gap: 30px;
        flex-wrap: wrap;

        .card2 {
            width: 350px;
            background-color: rgba(0, 255, 255, 0);
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 20px;
            border-radius: 5px;
            border: 1px solid rgba(222, 222, 222, 1);
            font-size: 20px;
            font-weight: 600;
            color: rgba(115, 115, 115, 1);
        }
    }
}

.sect3 {
    padding: 10px 0px;
    background-color: rgba(250, 250, 250, 1);
    padding-bottom: 120px;

    .maindiv3 {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        margin-top: 60px;
        gap: 70px;
        flex-wrap: wrap;
        // background-color: red;


        .card3 {
            width: 250px;
            background-color: rgba(0, 255, 255, 0);
            height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: start;

            padding: 20px;
            padding-top: 40px;
            padding-bottom: 40xp;
            border-radius: 9px;
            box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.568);
        }
    }
}

.sect4 {
    background-color: rgba(37, 43, 66, 1);
    width: 100%;
    height: 257px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .left2 {
        h1 {
            font-size: 40px;
            color: white;
            letter-spacing: 0.2px;
        }

        p {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: white;
            margin-top: 30px;
        }
    }

    .right2 {
        border: 1px solid rgba(230, 230, 230, 1);
        background-color: white;
        border-radius: 5px;

        input {
            padding: 15px 25px;
            border-radius: 5px;
            border: none;
        }

        button {
            padding: 15px 25px;
            border-radius: 5px;
            background-color: rgba(35, 166, 240, 1);
            color: white;
            border: 1px solid rgba(230, 230, 230, 1);
        }
    }
}
.sect5{
    width: 96%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 60px;
    padding-left: 30px;

    .card5{
        width: 20%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2{
            color: rgba(37, 43, 66, 1);
            font-size: 34px;
        }
        p{
            font-size: 20px;
            font-weight: 500;
            color: rgba(115, 115, 115, 1);
            line-height: 20px;
        }
    }

}
footer{
    text-align: center;
    background-color: rgba(250, 250, 250, 1);
    padding: 30px;
    color: rgba(115, 115, 115, 1);
    font-size: 14px;
}